*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: auto;
    display: block;
}


.head1{
    background-color: orange;
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 2;
}

.flex1{
    margin: 0 auto;
    width: 920px;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.item-flex1-1 {
    align-self: center;
}
.item-flex1-2 {
    height: 30px;
    align-self: center;
}

.item-flex1-2 img{
    height: 100%;
}

.item-flex1-3{
    align-self: center;
}

.flex2{
    display: flex;
    list-style: none;
    column-gap: 0.5rem;
}

main{
    margin-top: 60px;
    margin-bottom: 100px;
}

.flex3{
    height: 100%;
    margin: 0 auto;
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imm{
    overflow: hidden;
}
.imm img{
    position: relative;   
}

.card .img21 {
    display: none;
} 

.card:hover .img11 {
    display: none;
} 

.card:hover .img21 {
    display: block;
} 

.cardcont{
    position: relative;
    flex-basis: 30%;
    margin: 20px 0;
}

.cuore{
    position: absolute;
    top: 5px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;

}

.centro{
    align-self: center;
}

.abs1{
    position: absolute;
    bottom: 80px;
    display: flex;
}

.box{
    background-color: red;
}

.box1{
    margin-left: 4px;
    background-color: green;
    color: white;
}

.box3{
    background-color: green;
    color: white;
}


.sect2{
    height: 500px;
}

footer{
    height: 100px;
    width: 100vw;
    background-color: orange;
    z-index: 2; 
    position: fixed;
    left: 0;
    bottom: 0;
  
}



.cont-foot{
    height: 100%;
    margin: 0 auto;
    width: 920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




